.dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
  padding-top: 9em;
}

.dashboard__searchbar {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5em;
}

.dashboard__nav {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  position: fixed;
  padding-top: 3em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dashboard__nav button {
  height: 30px;
  margin: 2.5em 1.8em 2em 2.5em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #71bdc0;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px #999999;
}

.dashboard__nav button:hover {
  background-color: #549092;
  border-left: 0;
  border-right: px;
  box-shadow: 0 5px #999999;
}

.dashboard__nav button:active {
  background-color: #417274;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
