h3,
h2,
h1 {
  display: flex;
  flex-direction: row;
  color: #2d2d2d;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.top-render {
  margin-bottom: 1em;
  font-family: "Fugaz One", cursive;
}
.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.workout-page__nav-buttons {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

.workout-page__nav-buttons button {
  width: 11em;
  height: 2.2em;
  margin: 2em 1em 1.8em 2em;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #71bdc0;
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px #999999;
  font-family: "Fjalla One", sans-serif;
}

.workout-page__nav-buttons button:hover {
  background-color: #549092;
  border-left: 0;
  border-right: px;
  box-shadow: 0 5px #999999;
}

.workout-page__nav-buttons button:active {
  background-color: #417274;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.current-exercise-render {
  background-color: #ce5555;
  width: 80%;
  padding-top: 0.5em;
  padding-bottom: 1em;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  box-shadow: 6px 6px 2px 1px#666666;
}

.exercise-card h3 {
  margin: auto;
  padding-top: 0.2em;
  color: #ffffff;
}

.current-exercise-render iframe {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-top: 0.6em;
  border: none;
  overflow: hidden;
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.current-exercise-render h1 {
  display: flex;
  flex-direction: row;
  margin: auto;
  color: #ffffff;
}

.next-exercise-render {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
}

.next-exercise-render h4 {
  margin: 0.8em;
  color: #000000;
}

.next-exercise-render button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #0d0d0d;
  background-color: rgb(99, 231, 150);
  border: none;
  border-radius: 12px;
  box-shadow: 0 5px #999999;
  padding: 0.5em;
  font-family: "Fjalla One", sans-serif;
}

@media only screen and (max-width: 350px) {
  .top-render {
    margin-bottom: 0em;
    font-family: "Fugaz One", cursive;
  }
  .workout-page__nav-buttons {
    display: flex;
    justify-content: center;
    padding-top: 3em;
  }

  .workout-page__nav-buttons button {
    width: 8em;
  }
}
