.workout-card {
  display: inline-block;
  font-size: 16px;
  border: 1px solid grey;
  background: #f5b766;
  color: #0d0d0d;
  width: 14em;
  border-radius: 10px;
  margin: 0.3em;
  padding-top: 0.7em;
  box-shadow: 6px 6px 2px 1px#666666;
  text-align: center;
}

.workout-card h2, h3, h4{
  color: #0d0d0d;
  text-align: center;
  font-family: "Fjalla One", sans-serif;
}

.workout-card__exercises {
  text-align: left;
  padding-left: 2em;
}
